<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Esse é o meu primeiro aplicativo em {{ title }}!
  </h1>
</div>
<!--logo angular-->
<div style="text-align:center">
  <img src="https://angular.io/assets/images/logos/angular/angular.png" alt="Angular" width="250">
</div>
<!--end logo angular-->
<h2>Estou aprendendo no detalhe em cada link abaixo: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

